.sheet input[type='text'] {font-size: .9em;
            height: 12px;
            padding: 3px}

div.sheet-attributesSection, div.sheet-charInfoSection, div.sheet-charVitalStatsSection {display: inline-block;
                border-width: 2px;
                border-color: blue;
                border-radius: 8px;
                border-style: solid;
                vertical-align: top;}

div.sheet-statHeaderRow {background-color: #aa7939;
                        border-radius: 8px 8px 0px 0px;
                        }

div.sheet-statRow  {width: 100%;}

div.sheet-statLabel {font-weight: bold;
                    display: inline-block;}

div.sheet-wideXS {width: 35px; display: inline-block;}
div.sheet-wideSM {width: 70px; display: inline-block;}
div.sheet-attribName  {display: inline-block;
                        text-align: right;}

input.sheet-inpAttr {width: 2.5em; height: 24px;}
input.sheet-cinfo {height: 24px;}

div.sheet-cinfoLabel {display:inline-block;
                width: 90px;
                font-weight: bold;
                text-align: right;}
div.sheet-cinfoData {display:inline-block;}

.charsheet table td {text-align: left;
                    padding-right: 2px}
.sheet-header {font-weight: bold;
                background-color: #aa7939}
.sheet-inpShort {width: 2.5em}
.sheet-inp2 {width:2em}
.sheet-inp3 {width:3em}
.sheet-inp4 {width:4em}
.sheet-inp5 {width:5em}

.sheet-headCol {font-weight: bold;
                text-align: right}
.sheet-pageTop {font-weight: bold;
                font-size: 1.2em}
td.sheet-sectionBox {border-width: 2px;
                border-color: blue;
                border-radius: 8px;
                border-style: solid;}
table.sheet-sectionTable {    border-spacing: 10px;
                            border-collapse: separate}

